body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-top: 50px;
    padding-left: 0px;
    width: 20%;
    background-color: #333;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #04AA6D;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}